# Base de datos
DB_HOST=aws-1-us-west-2.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.TU_PROJECT_ID
DB_PASSWORD=TU_PASSWORD
DB_NAME=postgres
DATABASE_URL=postgresql://postgres.TU_PROJECT_ID:TU_PASSWORD@aws-1-us-west-2.pooler.supabase.com:5432/postgres

# Supabase
SUPABASE_URL=https://TU_PROJECT_ID.supabase.co
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY

# Auth (NextAuth)
AUTH_SECRET=GENERAR_CON_openssl_rand_base64_32
NEXTAUTH_URL=https://TU_DOMINIO.vercel.app

# Email (Resend)
RESEND_API_KEY=re_XXXXXXXXX
EMAIL_FROM=onboarding@resend.dev

# Configuracion
PAYMENT_WINDOW_MINUTES=30